<h1>Editing To Do</h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= render "form", list: @list %>
  </div>
</div>

<br>

<div>
  <%#<%= link_to "Show this list", @list %> 
  <%= link_to "Back to to do list", lists_path %>
</div>
